:root {
  --blue: #0290ff;
  --white: #ffff;
  --gray: #f3efef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: var(--gray);
}

.left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.container-center {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

li {
  list-style-type: none;
}

header {
  background-color: var(--white);
  height: 80px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.user {
  border: 1px solid var(--blue);
  padding: 10px;
  border-radius: 50%;
}

.logo {
  text-transform: uppercase;
  font-size: 1.8rem;
  color: var(--blue);
}

.menu-list li {
  list-style-type: none;
}

.center {
  text-align: center;
}

form {
  max-width: 1000px;
  margin: 0 auto;
}

form > * {
  margin-right: 15px;
}

.py-5 {
  padding-block: 20px;
}

.form-control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.input-control {
  min-width: 50%;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 1.3rem;
  font-family: inherit;
}

.btn {
  padding: 15px 20px;
  width: 20%;
  margin: 0 auto;
  cursor: pointer;
  background-color: var(--blue);
  border: none;
  border-radius: 5px;
  color: #ffff;
  align-items: center;
  font-size: 1.2rem;
}

.book {
  display: flex;
  justify-content: space-between;
  max-width: 95%;
  margin: 30px auto;
  gap: 5px;
  background-color: #ffff;
  border-radius: 5px;
  padding: 20px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
}

.details {
  display: flex;
  flex-direction: column;
}

.details > * {
  margin-block: 5px;
  align-self: flex-start;
}

.select {
  padding: 15px;
  font-family: inherit;
  font-size: 1.3rem;
  align-self: center;
  outline: none;
  border: none;
  border-radius: 5px;
}

.circle {
  width: 80px;
  font-weight: bolder;
}

.btn-single {
  background-color: #ffff;
  border: none;
  font-family: inherit;
  color: var(--blue);
  padding-inline: 10px;
  cursor: pointer;
  font-size: 1rem;
  border-right: 2px solid gainsboro;
}

.title {
  color: var(--blue);
  font-size: 1.3rem;
}

.chapter-details {
  display: flex;
  flex-direction: column;
  border-left: 2px solid gainsboro;
  padding-inline: 20px;
  align-items: flex-start;
}

.chapter-details > * {
  margin-block: 5px;
  align-self: left;
}

.progress-btn {
  background-color: var(--blue);
  padding: 15px 20px;
  color: #ffff;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  cursor: pointer;
  display: inline;
}

.add-book {
  text-align: left;
  padding-left: 27px;
  margin-block: 20px;
  color: rgb(92, 81, 81);
  font-size: 1.5rem;
}

.mt-5 {
  margin-top: 60px;
}
