* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 10px;
  overflow-x: hidden;
}

.container-center {
  max-width: 1000px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

header {
  background-color: #ffff;
  height: 80px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.menu-list li {
  list-style-type: none;
}

.center {
  text-align: center;
}

.py-5 {
  padding-block: 20px;
}

.form-control {
  width: 100%;
}

.input-control {
  min-width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.btn {
  display: block;
  padding: 10px 20px;
  width: 20%;
  margin: 0 auto;
  cursor: pointer;
  background-color: rgb(66, 66, 219);
  border: none;
  border-radius: 5px;
  color: #ffff;
}

.book {
  display: flex;
  justify-content: space-between;
  max-width: 95%;
  margin: 10px auto;
  gap: 5px;
}

.btn-delete {
  padding: 20px;
  cursor: pointer;
  background-color: rgb(66, 66, 219);
  border: none;
  border-radius: 5px;
  color: #ffff;
  align-self: center;
}

.details > * {
  margin-block: 5px;
}
